.custom-select-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  border: 1.5px solid rgb(204, 204, 204);
  border-radius: 3px;
  box-sizing: border-box;
}
.custom-select-container.active {
  border: 3px solid rgb(65, 133, 247);
}

.selected-text {
  background-color: #fff;
  padding: 6px 10px;
  text-align: left;
}

.selected-text::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 10px;

  border: 2px solid rgb(204, 204, 204);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.select-options {
  position: absolute;
  width: 100%;
  text-align: left;
  border: 1.5px solid rgb(204, 204, 204);
  border-radius: 3px;
  margin-top: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
}

li {
  list-style-type: none;
  padding: 6px 20px;
  background: #fff;
  cursor: pointer;
}

li:hover {
  background-color: rgb(224, 235, 253);
  color: black;
}

.custom-select-option.active {
  color: #fff;
  background-color: rgb(65, 133, 247);
}

.text-box {
  width: 100%;
  height: 100%;
  border: hidden;
  outline: none;
  cursor: default;
}

.text-box.active::placeholder {
  color: black;
}
